.navbar{
    
}

.nav-link,
.navbar-brand {
    width: 90px;
    height: 90px;
}

.nav-link{
    justify-items: flex-end;

}
.nav-link:hover{
    color: black;
}

.navbar-collapse,
.collapse {
    justify-content: flex-end;
}
.footer{
    margin-top:20px;
    
    background-color: darkgrey;
    
    
    
}

  .image{
    max-width:200px;
  }
  