.navbar{
    
}

.nav-link,
.navbar-brand {
    width: 90px;
    height: 90px;
}

.nav-link{
    justify-items: flex-end;

}
.nav-link:hover{
    color: black;
}

.navbar-collapse,
.collapse {
    justify-content: flex-end;
}
.footer{
    margin-top:20px;
    
    background-color: darkgrey;
    
    
    
}

  .image{
    max-width:200px;
  }
  
  .blue{
    
    color: darkblue;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 10px 10px;
    grid-template-columns: 50% 50%;
    
}
.grid-container div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    background-color: darkgrey;
    text-align: center;

}